div#background-container {
	position: fixed;
	display: flex;
	justify-content: center;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
div#background-container svg {
	position: absolute;
	width: 120vmax;
	overflow: visible;
	transition: bottom 3s cubic-bezier(0.1, 1, 0.1, 1);
}
svg#background1 { z-index: 1; bottom: -20%; filter: blur(32px); }
svg#background2 { z-index: 2; bottom: -40%; filter: blur(24px); }
svg#background3 { z-index: 3; bottom: -60%; filter: blur(16px); }
svg#background4 { z-index: 4; bottom: -80%; filter: blur(8px); }
svg#background5 { z-index: 5; bottom: -100%; }
