/* https://stackoverflow.com/a/51679606 */
.pie {
	position: relative;
	width: 150px;
	height: 150px;
	border-radius: 100%;
	background-color: var(--dark-enigma);
	box-shadow:
		0px 0px 0px 5px var(--dark-enigma),
		0px 0px 5px 10px var(--enigma);
}
.pie-slice, .pie-slice > .fill {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 100%;
}
.pie-slice { clip: rect(0px, 150px, 150px, 77.5px); }
.pie-slice > .fill { clip: rect(0px, 72.5px, 150px, 0px); }
.pie-slice.x > .fill, .bar-container > ul > li.x { background-color: var(--blue); }
.pie-slice.a > .fill, .bar-container > ul > li.a { background-color: var(--green); }
.pie-slice.b > .fill, .bar-container > ul > li.b { background-color: var(--red); }
.pie-label {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	width: 100px;
	height: 100px;
	top: 25px;
	left: 25px;
	font-size: 40px;
	font-weight: bold;
	color: white;
	text-shadow: 0px 3px 0px var(--enigma);
	background-color: var(--dark-enigma);
	border-radius: 100%;
	content: "";
}
.data-container {
	position: relative;
	box-sizing: border-box;
	display: flex;
	flex-shrink: 1;
	padding-bottom: 10px;
	width: 100%;
}
.pie-container {
	box-sizing: border-box;
	position: relative;
	padding: 10px;
}
.bar-container {
	box-sizing: border-box;
	flex-grow: 1;
	padding: 10px;
}
.bar-container > ul {
	margin-right: 20px;
}
.bar-container > ul > li {
	overflow: hidden;
	margin-top: 10px;
	padding-left: 10px;
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	font-weight: bold;
	color: #000;
	border-radius: 5px;
}
.bar-container > ul > li > span { opacity: 50%; }
