:root {
	--text-color: #b0a8ff;
	--enigma-purple: #50e;
	--light-blue: #acf;
	--light-green: #afa;
	--light-red: #faa;
	--light-yellow: #fea;
	--gold: #fc0;
	--silver: #ddd;
	--bronze: #d70;
	--background-gold: #fc04;
	--background-silver: #ddd3;
	--background-bronze: #d702;
}
b {
	color: #fff;
}
body {
	margin: 0;
	color: var(--text-color);
	font-family: 'Covered By Your Grace', cursive;
	background-image: url("images/background.png");
	background-color: #000;
	background-attachment: fixed;
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
}
div.sidebox {
	margin: 0;
	height: 100%;
	background-color: #0006;
}
h1 {
	font-family: 'Covered By Your Grace', cursive;
	color: #fff;
	text-align: center;
	text-decoration: none;
}
h2 {
	font-family: 'Covered By Your Grace', cursive;
	color: #fff;
	text-align: center;
	text-decoration: none;
	margin: 0;
}
h3 {
	font-family: 'Covered By Your Grace', cursive;
	color: #fff;
	text-decoration: none;
	margin: 0;
}
hr {
	border: 1px solid #fff;
	border-radius: 1px;
}
input {
	box-sizing: border-box;
	border-color: var(--text-color);
	border-style: solid;
	margin: 0;
	padding: 3px;
	background-color: #0000;
	outline: none;
	color: inherit;
	font: inherit;
	transition-property: border-color, box-shadow, color;
	transition-duration: 150ms;
	transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
input:focus {
	border-color: #fff;
	color: #fff;
}
input#search-input {
	width: 100%;
	background-image: url('./images/search-icon.png');
	background-repeat: no-repeat;
}
p {
	margin: 0;
}
span.badge {
	position: relative;
}
table.center {
	margin-left: auto; 
	margin-right: auto;
}
table#leaderboard {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
}
table#leaderboard:hover {
	cursor: default;
}
table#leaderboard tr:hover td {
	color: #fff;
}
table#leaderboard tr:nth-child(odd) {
	background-color: #0003;
}
table#leaderboard tr:nth-child(even) {
	background-color: #0008;
}
table#leaderboard td {
	padding: 0;
}
table#search-table {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
}
table#search-table td {
	padding: 0;
}
td.name-cell, th.name-cell {
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
ul#changelog {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul#changelog ul.changelog-sub {
	list-style: none;
}
ul#changelog span.add {
	color: var(--light-green);
}
ul#changelog span.change {
	color: var(--light-yellow);
}
ul#changelog span.remove {
	color: var(--light-red);
}
ul#social-media {
	list-style: none;
	margin: 0;
}
ul#social-media a {
	text-decoration: none;
}
ul#social-media img {
	vertical-align: text-top;
}
.clickable:hover {
	cursor: pointer;
	color: #fff !important;
}
.dropdown {
	background-color: #0000;
	border: none;
	color: inherit;
	cursor: pointer;
	font-family: inherit;
	font-size: inherit;
	text-align: left;
	outline: none;
}
.dropdown:after {
	float: left;
	content: "+";
	font-weight: bold;
}
.dropdown-active:after {
	content: "-";
}
.dropdown-content {
	max-height: 0;
	overflow: hidden;
	transition: max-height 250ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
