:root {
	--text-color: #caf;
	--enigma: #a4f;
	--dark-enigma: #528;
	--dark-enigma-transparent: #5288;
	--red: #faa;
	--green: #afa;
	--blue: #acf;
	--gold: #fc0;
	--silver: #ddd;
	--bronze: #d70;
	--background-gold: #fc04;
	--background-silver: #ddd3;
	--background-bronze: #d702;
}
html {
	height: 100vh;
	background-color: #204;
	background-image: linear-gradient(#000, #408);
}
body {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	margin: 0 auto;
	max-width: 1000px;
	color: var(--text-color);
	font-family: 'Merienda', cursive;
	font-size: 15px;
}
nav {
	box-sizing: border-box;
	display: flex;
	padding: 15px 15px 0px 15px;
	width: 100%;
	height: 90px;
	align-items: center;
	z-index: 1000;
}
p {
	margin: 10px;
}

/* ------------------------- nav ------------------------ */

div.nav-group {
	display: flex;
	justify-content: right;
	width: 100%;
	font-size: 16px;
}
div#xab + div.nav-group { justify-content: left; }
div.nav-group > div {
	padding: 10px;
	font-weight: bold;
	text-shadow: 0px 2px 0px #000;
	transition-property: color, text-shadow;
	transition-duration: 100ms;
	transition-timing-function: linear;
}
div.nav-group > div:hover {
	color: #fff;
	text-shadow:
		0px 2px 0px var(--enigma),
		0px 0px 5px var(--enigma),
		0px 0px 10px var(--enigma);
	cursor: pointer;
}
div.nav-group > div + div { margin-left: 15px; }
div#xab {
	flex-shrink: 0;
	margin: 0 20px;
	font-size: 60px;
	line-height: 60px;
	color: #fff;
	font-weight: bold;
	text-shadow:
		0px 3px 0px var(--enigma),
		0px 0px 10px var(--enigma),
		0px 0px 30px var(--enigma);
	text-align: center;
}
@media (max-width: 800px) {
	div.nav-group { flex-direction: column; }
	div.nav-group > div {
		text-align: right; 
		padding: 3px 0;
	}
	div.nav-group > div + div { margin: 0; }
	div#xab + div.nav-group > div { text-align: left; }
}
@media (min-width: 401px) and (max-width: 600px) {
	div#xab {
		margin: 0 3.333vw;
		font-size: calc(15vw - 30px);
		line-height: calc(15vw - 30px);
	}
}
@media (max-width: 400px) {
	div#xab {
		margin: 0 13.333px;
		font-size: 30px;
		line-height: 30px;
	}
}

/* ---------------------- container --------------------- */

div.container {
	position: absolute;
	box-sizing: border-box;
	padding: 15px;
	width: 100%;
	height: calc(100vh - 90px);
	top: 90px;
	overflow: hidden;
	z-index: 100;
	transition-property: opacity, top;
	transition-duration: 150ms;
	transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

/* ---------------------- scrollbar --------------------- */

::-webkit-scrollbar {
	width: 20px;
}
::-webkit-scrollbar-track {
	border: 6px solid transparent;
	border-radius: 10px;
	box-shadow: 0px 0px 0px 100px inset #0005;
}
::-webkit-scrollbar-thumb {
	border: 6px solid transparent;
	border-radius: 10px;
	box-shadow: 0px 0px 0px 100px inset var(--enigma);
}
::-webkit-scrollbar-thumb:hover {
	box-shadow:
		0px 0px 0px 1.5px inset #fff,
		0px 0px 0px 100px inset var(--enigma);
}
::-webkit-scrollbar-thumb:active {
	box-shadow: 0px 0px 0px 100px inset #fff;
}

/* ------------------------ panel ----------------------- */

div.panel {
	border-radius: 10px;
	box-shadow: 0 0 15px #000;
	overflow: hidden;
}
div.panel:not(:last-child) { margin-bottom: 15px; }
div.panel > div:first-child {
	box-sizing: border-box;
	padding: 10px;
	background-color: var(--dark-enigma);
	background-image: linear-gradient(var(--enigma), #0000);
}
div.panel > div:first-child + div {
	overflow: hidden;
	background-color: var(--dark-enigma-transparent);
	background-image: linear-gradient(#0004, #0000);
	backdrop-filter: blur(8px);
}
