input#search {
	padding-left: 30px;
	width: 100%;
	background-image: url('./images/search.svg');
	background-size: 20px;
	background-position: 5px;
	background-repeat: no-repeat;
}
input#search.not-found {
	border-color: var(--red);
	color: var(--red);
}
div#search-name {
	margin-right: 5px;
	font-size: 24px;
	line-height: 24px;
	font-weight: bold;
	text-shadow: 0 2px 0 #000;
}
table#user-stats {
	table-layout: fixed;
	overflow: hidden;
	border-collapse: collapse;
	margin-bottom: 10px;
	width: 100%;
	border-radius: 10px;
	box-shadow: 0 0 15px #000;
}
table#user-stats td, table#user-stats th {
	box-sizing: border-box;
	padding: 5px;
	text-align: center;
}
table#user-stats th {
	background-color: var(--dark-enigma);
	background-image: linear-gradient(var(--enigma), #0000);
}
table#user-stats tr:nth-child(3) {
	background-color: #0004;
}
