table#leaderboard {
	display: block;
	overflow-y: auto;
	max-height: 100%;
	border-radius: 10px;
	border-collapse: collapse;
	box-shadow: 0 0 15px var(--dark-enigma);
	backdrop-filter: blur(8px);
}
table#leaderboard tbody:not(.active) { display: none; }
table#leaderboard tr:nth-child(even) {
	background-color: #0004;
}
table#leaderboard td {
	box-sizing: border-box;
	padding: 5px;
}
table#leaderboard th {
	position: sticky;
	top: 0;
	box-sizing: border-box;
	padding: 10px 5px;
	height: 40px;
	background-color: var(--dark-enigma);
	background-image: linear-gradient(var(--enigma), #0000);
	z-index: 20;
}
table#leaderboard th.clickable {
	transition-property: background-color, box-shadow, color;
	transition-duration: 150ms;
	transition-timing-function: ease-in-out;
	cursor: pointer;
}
table#leaderboard th.clickable.active, table#leaderboard th.clickable:hover {
	background-color: var(--enigma);
	color: #fff;
}
table#leaderboard th.clickable.active {
	box-shadow: 0 60px 50px -60px inset #fff;
}
table#leaderboard td:not(:nth-child(2)) { text-align: center; }
table#leaderboard tr > th:nth-child(1) {
	width: 40px;
	min-width: 40px;
	max-width: 40px;
}
table#leaderboard tr > td:nth-child(2) {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 47.5%;
	max-width: 0;
}
table#leaderboard tr > th:nth-child(3),
table#leaderboard tr > th:nth-child(4),
table#leaderboard tr > th:nth-child(5),
table#leaderboard tr > th:nth-child(7),
table#leaderboard tr > th:nth-child(8),
table#leaderboard tr > th:nth-child(9) {
	width: 7%;
}
table#leaderboard tr > th:nth-child(6) {
	width: 10.5%;
}
table#leaderboard tr > th:nth-child(7),
table#leaderboard tr > th:nth-child(8),
table#leaderboard tr > th:nth-child(9) {
	min-width: 30px;
}
table#leaderboard tr > td:nth-child(3) { color: #fff; }
table#leaderboard tr > :nth-child(7) { color: var(--blue); }
table#leaderboard tr > :nth-child(8) { color: var(--green); }
table#leaderboard tr > :nth-child(9) { color: var(--red); }
table#leaderboard span.badges {
	vertical-align: top;
	display: inline-block;
	font-size: 24px;
	line-height: 20px;
	padding-right: 16px;
	letter-spacing: -12px;
}
table#leaderboard span.badge { position: relative; }
